<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning & Deep Learning Canvas</title>
    <style type="text/css">
        a { text-decoration:none }
    </style>
</head>
<body>
<style>
        body{background-color: rgba(2, 2, 2, 0.92);}
</style>
<div style="font:italic bold 1.1em/1em 'Georgia',serif;text-align:center;font-size:40px;color:#FFFFFF">
    <h1>Gradient Ascent</h1>
    <hr width = "100%" color = "white" size = "3">
    <ul>
        <li><a href="/fmr"><p style="text-align:left;color:#ff0013">Fast Movie Recommemder </p></a></li>
    </ul>
</div>
 <a href="https://github.com/hectic97/Trace">Github => https://github.com/hectic97/Trace"</a>
</body>
</html>
