<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
        body{background-color: rgba(2, 2, 2, 0.92);}
</style>
</head>
<body>
<div style="font:italic bold 1.1em/1em 'Georgia',serif;text-align:center;font-size:26px;color:#FFFFFF">
    <h1>Movie recommendation system</h1>
</div>
<br>
<div style="serif;text-align:left;font-size:26px;color:#FFFFFF">
    <h3>By using genre, director, actor similarities measured by count vectorization
    and cosine similarity that represents similarities among elements(movies)<br>
Korea Top 50BoxOffice movie in movie list</h3>
</div>

<p>Flask for Web,Python,Numpy,Sk-Learn,Pandas</p>
    <h3 style="color:#ff0013">Source Code:  <a href="https://github.com/hectic97/Trace">https://github.com/hectic97/Trace</a></h3>

<a href=""
</body>
</html>