<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHOOSE MOVIE</title>
</head>
<body>
    <h1>Movie similarity by cosine similarity</h1>
    <form method="GET" action="/calculate">
        <div>
            <label for="char1">null</label>
            <input type="text" name = "char1">
        </div>
        <h3>2004년</h3>
        <select name = "chosen_movie">

            {%for i in range(50)%}
                <option value = "{{i}}">{{i}}</option>
            {%endfor%}
        </select>
        <br>

        <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
<!--        <select name="items1">-->
<!--			<option value="HTML">HTML</option>-->
<!--			<option value="자바스크립트">자바스크립트</option>-->
<!--			<option value="CSS">CSS</option>-->
<!--		</select>-->
        <div>
            <label for="num">Movie Id.</label>
            <input type="text" name="num">
        </div>
        <div class="button">
            <button type="submit">Show Similar Movies</button>
        </div>
        <div class="show">
            <h2><a href="pandas">Show Movie ID</a><h2>
        </div>

    </form>
    <div>
        <p>
            {% if num == None %}
                <h5> 아직 아무 값도 입력이 안되었습니다. </h5>
            {% else %}
                <h5> {{num}} 를 입력받았습니다. </h5>

                {% for i in range(1, num+1) %}
                <p>
                    {% for j in range(0, i) %}
                        {{char1}}
                    {% endfor %}
                </p>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>