h1 {
    font-size: 200px;
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
.clicked {
    color: white;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    color:white;
}